:root {
    --border-color: rgb(159, 124, 204);
    --background-color: rgb(202, 168, 224);
    --background-color-delete: rgb(211, 135, 148);
    --title-font-color: rgb(235, 235, 235);
    --font-color: rgb(44, 44, 44)
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

.main {
    border: 3px solid var(--border-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    width: 50vw;
    margin-bottom: 2rem;
    min-width: 300px;
}

button.new-book {
    align-self: end;
    font-size: 1.5rem;
    background-color: var(--border-color);
    color: var(--title-font-color);
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
}

button.new-book:active {
    scale: .9;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card,
.new-book-dialog {
    position: relative;
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--background-color);
    transition: all .3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.card:hover {
    scale: 1.1;
    z-index: 1;
}

.card button,
.close-dialog-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--border-color);
    color: rgb(44, 44, 44);
    border: none;
    border-top-right-radius: .8rem;
    padding: .5rem;
    cursor: pointer;
    transition: all .3s;
}

.card:has(button:hover) {
    background-color: var(--background-color-delete);
}

.field-name {
    padding: .5rem;
    background-color: var(--border-color);
    display: inline-block;
    border-radius: .5rem;
}

.row {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.row:not(:last-child) {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--border-color);
}

.new-book-dialog {
    position: absolute;
    padding: 2rem;
    display: block;
    transform: scaleY(0);
}

.new-book-dialog:open {
    transform: scaleY(1);
}

.new-book-dialog input {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 1;
}

.new-book-dialog input[type="checkbox"] {
    appearance: none;
    flex: 0 0 3rem;
    border-radius: 1rem;
    position: relative;
    transition: all .5s;
}

.new-book-dialog input[type="checkbox"]:checked {
    background-color: var(--background-color);
}

.new-book-dialog input[type="checkbox"]::before {
    position: absolute;
    content: "";
    width: calc(1rem - 4px);
    height: calc(1rem - 5px);
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    top: 1px;
    left: 1px;
    border-radius: 1rem;
    transition: all .5s;
}

.new-book-dialog input[type="checkbox"]:checked::before {
    left: calc(2rem - 4px);
    background-color: var(--border-color);
}

.submit-new-book-button {
    justify-self: center;
    font-size: 1rem;
    background-color: var(--border-color);
    border: 2px solid black;
    border-radius: .5rem;
    color: var(--title-font-color);
    font-weight: bold;
    padding: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin: auto;
}

.submit-new-book-button:hover {
    scale: 1.1;
}

.submit-new-book-button:active {
    scale: .9;
}